.offcanvas {
    display: flex;
    flex-direction: column;
}

.accordion {
    width: 100%;
    align-self: end;
    margin-top: auto;
}

.cardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin-top: 1rem;
}

.cardImage {
    width: 50px;
    height: 50px;
}

.cardSubtitle {
    margin-bottom: 0px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
}

.cardQuantityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
