.cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ffffff !important;
    min-height: 280px;
    max-height: 280px;
}
.selectDropdown {
    width: 10%;
}
.cardImage {
    width: 200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    max-height: 280px;
}
.fullScreenIcon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
    border-radius: 3px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    max-height: 120px;
}

.cardFooter {
    background-color: #ffffff !important;
    display: flex;
    flex-direction: column;
}
